#logout{
	size: 50%;
	color: red;
	border: none;
	background-color: white;
	float:right;
}
#gobutton{
	border: none;
    width: 50px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
	float: right;
}
#searchbar{
	width: 650px;
	height: 30px;
	font-size: 16px; 
	background-color: #f5f5f4; 
	border: none;
}
#buyquestion{
	clear: left;
	margin: 10px 0px 10px 0px;
	border-bottom: solid 1px;
	padding :10px 0px 10px 0px;
}
#menubar{
	padding:10px 0px 10px 0px;
	overflow: hidden;
}
#webpage {
  margin-left:auto;
  margin-right:auto;
  width:750px;
}
#head{
	text-align: center;
	margin: 20px;
}
.overflow{ /*for div that have float inside of it*/
	overflow:hidden;
}
.blue{
	color:  #66a4dc; /*blue*/
}
.red{
	color:#ff1a1a; /*red*/
}
.right{
	text-align: right;
}
.bluebox{
	background-color:  #66a4dc !important; /*blue*/
	color: white; 
}
.margin10{
	margin : 10px 0px 10px 0px;
}
.menubutton{
	background-color: white;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    float : left;
}
.floatl{
	float:left;
}
button:hover{
	color:black;
}
