#head{
	text-align: center;
	margin: 20px;
}

#blue{
	color:  #66a4dc; /*blue*/
}
#right{
	text-align: right;
}
#bluebox{
	background-color:  #66a4dc; /*blue*/
	color: white;
}
button.choose{
	background-color: white;
    border: 1px solid black;
    color: black;
    width: 150px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    float : left;
    margin-top:20px;
    margin-bottom:20px;
}
button.out{
	size: 50%;
	color: red;
	border: none;
	background-color: white;
	clear : right;
	position: absolute;
	right : 0px;
}
button.go{
	border: none;
    width: 50px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
	float: right;
}
input.search{
	width: 650px;
	height: 35px;
	font-size: 20px; 
	background-color: #f5f5f4; 
	border: none;
}

#clrh{
	clear: left;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#page {
  margin-left:auto;
  margin-right:auto;
  width:750px;
}
